<%+ extend('layouts/index') %>
<!-- -->

<%+ section('sidebar-menu') %>
<!-- -->

<li class="nav-item">
	<a href="../appointments/agent-activities" class="nav-link">
		<i class="fas fa-calendar-alt nav-icon"></i>
		<p>Agenda</p>
	</a>
</li>
<li class="nav-item menu-open">
	<a href="#" class="nav-link">
		<i class="fas fa-home nav-icon"></i>
		<p>
			Propiedades
			<i class="right fas fa-angle-left"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="./catalogue" class="nav-link">
				<i class="fas fa-th nav-icon"></i>
				<p>Catálogo</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link active">
				<i class="fas fa-plus nav-icon"></i>
				<p>Nueva Propiedad</p>
			</a>
		</li>
	</ul>
</li>

<%+ endSection %>
<!-- -->

<%+ section('body') %>
<!---->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Nueva Propiedad</h1>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<form action="/realestates/create" method="POST">
				<div class="row">
					<!-- left column -->
					<div class="col-md-6">
						<!-- general form elements -->

						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Propiedad</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->

							<div class="card-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label
												>Propietario</label
											>
											<select
												class="form-control select2"
												style="width: 100%"
												name="id_cliente_propietario"
												required
											>
												<% if(customers !=
												null){ %> <%
												customers.forEach(function(customer)
												{ %>

												<option
													value="<%= customer.id_cliente%>"
												>
													<%=
													customer.nombre_apellido
													%>
												</option>

												<% }); %> <% } %>
											</select>
										</div>
										<div class="col-sm-6">
											<label>Tipo</label>
											<select
												class="form-control select2"
												style="width: 100%"
												name="id_tipo_propiedad"
												required
											>
												<%if(realestates_types
												!= null) { %> <%
												realestates_types.forEach(function(type)
												{ %>

												<option
													value="<%= type.id_tipo_propiedad%>"
												>
													<%= type.nombre
													%>
												</option>

												<% }); %> <% } %>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Descripción breve</label>
									<textarea
										class="form-control"
										rows="2"
										placeholder="Ingrese ..."
										name="descripcion_breve"
										required
										maxlength="128"
									></textarea>
								</div>
								<div class="form-group">
									<label
										>Descripción detallada</label
									>
									<textarea
										class="form-control"
										rows="10"
										placeholder="Ingrese ..."
										name="descripcion_detallada"
									></textarea>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label
												for="superficie_total"
												>Superficie
												total</label
											>
											<input
												type="number"
												step="any"
												class="form-control"
												id="superficie_total"
												placeholder="Ingrese ..."
												name="superficie_total"
												required
											/>
										</div>

										<div class="col-sm-6">
											<label
												for="superficie_cubierta"
												>Superficie
												cubierta</label
											>
											<input
												type="number"
												step="any"
												class="form-control"
												id="superficie_cubierta"
												placeholder="Ingrese ..."
												name="superficie_cubierta"
												required
											/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label for="piso_dpto"
												>Piso
												departamento</label
											>
											<input
												type="number"
												class="form-control"
												id="piso_dpto"
												placeholder="Ingrese ..."
												name="piso_dpto"
											/>
										</div>
										<div class="col-sm-6">
											<label for="numero_dpto"
												>Número
												departamento</label
											>
											<input
												type="number"
												class="form-control"
												id="numero_dpto"
												placeholder="Ingrese ..."
												name="numero_dpto"
											/>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="fecha_construccion"
										>Fecha de construcción</label
									>
									<input
										type="date"
										class="form-control"
										id="fecha_construccion"
										name="fecha_construccion"
										required
									/>
								</div>

								<label for="cant_artefactos"
									>Cantidad de artefactos</label
								>
								<input
									type="number"
									class="form-control"
									id="cant_artefactos"
									placeholder="Ingrese ..."
									name="cant_artefactos"
									required
								/>
							</div>
							<!-- /.card-body -->
						</div>

						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Servicios</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->

							<div class="card-body">
								<div class="row">
									<div class="col-sm-4">
										<div
											class="custom-control custom-checkbox"
										>
											<input
												class="custom-control-input"
												type="checkbox"
												id="luzCheckbox"
												value="1"
												name="servicio_electricidad"
											/>
											<label
												for="luzCheckbox"
												class="custom-control-label"
												>Luz</label
											>
										</div>
									</div>
									<div class="col-sm-4">
										<div
											class="custom-control custom-checkbox"
										>
											<input
												class="custom-control-input"
												type="checkbox"
												id="aguaCheckbox"
												name="servicio_agua"
												value="1"
											/>
											<label
												for="aguaCheckbox"
												class="custom-control-label"
												>Agua</label
											>
										</div>
									</div>
									<div class="col-sm-4">
										<div
											class="custom-control custom-checkbox"
										>
											<input
												class="custom-control-input"
												type="checkbox"
												id="gasCheckbox"
												name="servicio_gas"
												value="1"
											/>
											<label
												for="gasCheckbox"
												class="custom-control-label"
												>Gas</label
											>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div
											class="custom-control custom-checkbox"
										>
											<input
												class="custom-control-input"
												type="checkbox"
												id="internetCheckbox"
												value="1"
												name="servicio_internet"
											/>
											<label
												for="internetCheckbox"
												class="custom-control-label"
												>Internet</label
											>
										</div>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
						</div>

						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Contrato</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->

							<div class="card-body">
								<div class="row">
									<div class="col-sm-7">
										<label>Tipo</label>
										<div class="row">
											<div class="col-sm-6">
												<div
													class="custom-control custom-radio"
												>
													<input
														class="custom-control-input"
														type="radio"
														id="ventaRadio"
														name="tipo_oferta"
														checked
														value="venta"
													/>
													<label
														for="ventaRadio"
														class="custom-control-label"
														>Venta</label
													>
												</div>
											</div>
											<div class="col-sm-6">
												<div
													class="custom-control custom-radio"
												>
													<input
														class="custom-control-input"
														type="radio"
														id="alquilerRadio"
														name="tipo_oferta"
														value="alquiler"
													/>
													<label
														for="alquilerRadio"
														class="custom-control-label"
														>Alquiler</label
													>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-5">
										<label>Precio</label>
										<div class="input-group">
											<div
												class="input-group-prepend"
											>
												<span
													class="input-group-text"
													>$</span
												>
											</div>
											<input
												type="number"
												step="any"
												class="form-control"
												name="precio_inmueble"
												required
											/>
										</div>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
					</div>
					<!--/.col (left) -->
					<!-- right column -->
					<div class="col-md-6">
						<!-- Form Element sizes -->
						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Ubicación</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->

							<div class="card-body">
								<div class="form-group">
									<label>Provincia</label>
									<select
										class="form-control select2"
										style="width: 100%"
										name="id_provincia"
										required
									>
										<%if(provinces != null){ %> <%
										provinces.forEach(function(province)
										{ %>
										<option
											value="<%= province.id_provincia %>"
										>
											<%= province.nombre %>
										</option>
										<% }); %> <%} %>
									</select>
								</div>
								<div class="form-group">
									<label>Ciudad</label>
									<select
										class="form-control select2"
										style="width: 100%"
										name="id_localidad"
										required
									>
										<%if(cities != null){ %> <%
										cities.forEach(function(city)
										{ %>
										<option
											value="<%= city.id_localidad%>"
										>
											<%= city.nombre %>
										</option>
										<% }); %> <%}%>
									</select>
								</div>
								<div class="row">
									<div class="col-sm-8">
										<label for="calleInput"
											>Calle</label
										>
										<input
											class="form-control"
											id="calleInput"
											placeholder="Ingrese ..."
											name="calle"
											required
										/>
									</div>
									<div class="col-sm-4">
										<label for="alturaInput"
											>Altura</label
										>
										<input
											type="number"
											class="form-control"
											id="alturaInput"
											placeholder="Ingrese ..."
											name="altura"
											required
										/>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
						</div>

						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Ambientes</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->

							<div class="card-body" id="cardAmbientes">
								<div class="form-group">
									<div class="form-group">
										<label
											>Agregar ambiente</label
										>
										<select
											class="select2 agregarAmbiente"
											style="width: 100%"
											name="nombre"
										>
											<option
												disabled
												selected
											>
												Seleccione un
												ambiente
											</option>
											<option>
												Dormitorio
											</option>
											<option>Cochera</option>
											<option>Cocina</option>
											<option>Comedor</option>
											<option>Baño</option>
											<option>Estar</option>
											<option>
												Ante baño
											</option>
											<option>Patio</option>
											<option>Quincho</option>
										</select>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
						</div>

						<button
							type="submit"
							class="btn btn-block btn-primary btn-lg"
						>
							Enviar formulario
						</button>
					</div>

					<!--/.col (right) -->
				</div>
			</form>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
	<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<%+ endSection %>
<!---->

<!---->
<%+ section('scripts') %>

<!-- Page specific script -->
<script>
	$(function () {
		//Initialize Select2 Elements
		$('.select2').select2();
	});

	const $cardAmbientes = $('#cardAmbientes');
	const elementSelect2 = 'agregarAmbiente';

	const handler = (e) => {
		const { data } = e.params;

		const select2 = $(
			`[data-select2-id='${e.target.getAttribute('data-select2-id')}']`
		);

		select2.parent().parent().children(':nth-child(2)').remove();

		if (data.text === '_') {
			console.log(e.target);
		} else {
			select2.parent().parent().append(`
              <div class="form-group">
                <label for="${data.id}SuperficieInput">Superficie</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="${data.id}SuperficieInput"
                  placeholder="Ingrese ..."
				  name="superficie"
                />
              </div>
            `);

			$cardAmbientes.append(`
            <div class="form-group">
              <div class="form-group">
                <label>Agregar ambiente</label>
                <select
                  class="select2 ${elementSelect2}"
                  style="width: 100%"
				  name="nombre"
                >
                  <option disabled selected>Seleccione un ambiente</option>
                  <option>Dormitorio</option>
                  <option>Cochera</option>
                  <option>Cocina</option>
                  <option>Comedor</option>
                  <option>Baño</option>
                  <option>Estar</option>
                  <option>Ante baño</option>
                  <option>Patio</option>
                  <option>Quincho</option>
                  <option>Patio</option>
                </select>
              </div>
            </div>
          `);

			$(`.${elementSelect2}`).select2();
			$(`.${elementSelect2}`).on('select2:select', handler);
		}
	};

	$(`.${elementSelect2}`).on('select2:select', handler);
</script>
<%+ endSection %>
