<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Admin ⋅ Nueva Propiedad</title>

		<!-- Google Font: Source Sans Pro -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
		/>
		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="plugins/fontawesome-free/css/all.min.css"
		/>
		<!-- Ionicons -->
		<link
			rel="stylesheet"
			href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
		/>
		<!-- Tempusdominus Bootstrap 4 -->
		<link
			rel="stylesheet"
			href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
		/>
		<!-- Select2 -->
		<link rel="stylesheet" href="plugins/select2/css/select2.min.css" />
		<!-- iCheck -->
		<link
			rel="stylesheet"
			href="plugins/icheck-bootstrap/icheck-bootstrap.min.css"
		/>
		<!-- JQVMap -->
		<link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css" />
		<!-- Theme style -->
		<link rel="stylesheet" href="dist/css/adminlte.min.css" />
		<!-- overlayScrollbars -->
		<link
			rel="stylesheet"
			href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
		/>
		<!-- Daterange picker -->
		<link
			rel="stylesheet"
			href="plugins/daterangepicker/daterangepicker.css"
		/>
		<!-- summernote -->
		<link
			rel="stylesheet"
			href="plugins/summernote/summernote-bs4.min.css"
		/>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">
			<!-- Preloader -->
			<div
				class="preloader flex-column justify-content-center align-items-center"
			>
				<img
					class="animation__shake"
					src="dist/img/AdminLTELogo.png"
					alt="AdminLTELogo"
					height="60"
					width="60"
				/>
			</div>

			<!-- Navbar -->
			<nav
				class="main-header navbar navbar-expand navbar-white navbar-light"
			>
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a
							class="nav-link"
							data-widget="pushmenu"
							href="#"
							role="button"
							><i class="fas fa-bars"></i
						></a>
					</li>
				</ul>

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a
							class="nav-link"
							data-widget="fullscreen"
							href="#"
							role="button"
						>
							<i class="fas fa-expand-arrows-alt"></i>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							data-widget="control-sidebar"
							data-controlsidebar-slide="true"
							href="#"
							role="button"
						>
							<i class="fas fa-th-large"></i>
						</a>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="index3.html" class="brand-link">
					<img
						src="dist/img/AdminLTELogo.png"
						alt="AdminLTE Logo"
						class="brand-image img-circle elevation-3"
						style="opacity: 0.8"
					/>
					<span class="brand-text font-weight-light"
						>Domus ⋅ Admin</span
					>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user panel (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img
								src="dist/img/user2-160x160.jpg"
								class="img-circle elevation-2"
								alt="User Image"
							/>
						</div>
						<div class="info">
							<a href="#" class="d-block"
								>Alexander Pierce</a
							>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul
							class="nav nav-pills nav-sidebar flex-column"
							data-widget="treeview"
							role="menu"
							data-accordion="false"
						>
							<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
							<li class="nav-item">
								<a
									href="./index3.html"
									class="nav-link"
								>
									<i
										class="fas fa-calendar-alt nav-icon"
									></i>
									<p>Agenda</p>
								</a>
							</li>
							<li class="nav-item menu-open">
								<a href="#" class="nav-link">
									<i
										class="fas fa-home nav-icon"
									></i>
									<p>
										Propiedades
										<i
											class="right fas fa-angle-left"
										></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a
											href="./index2.html"
											class="nav-link"
										>
											<i
												class="fas fa-th nav-icon"
											></i>
											<p>Catálogo</p>
										</a>
									</li>
									<li class="nav-item">
										<a
											href="./index2.html"
											class="nav-link"
										>
											<i
												class="fas fa-th-list nav-icon"
											></i>
											<p>Lista</p>
										</a>
									</li>
									<li class="nav-item">
										<a
											href="./index3.html"
											class="nav-link active"
										>
											<i
												class="fas fa-plus nav-icon"
											></i>
											<p>Nueva Propiedad</p>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Nueva Propiedad</h1>
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<!-- left column -->
							<div class="col-md-6">
								<!-- general form elements -->

								<form action="/test" method="POST">
									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title">
												Propiedad
											</h3>
										</div>
										<!-- /.card-header -->
										<!-- form start -->

										<div class="card-body">
											<div class="form-group">
												<div class="row">
													<div
														class="col-sm-6"
													>
														<label
															>Propietario</label
														>
														<select
															class="form-control select2"
															style="
																width: 100%;
															"
															name="id_cliente_propietario"
														>
															<%
															customers.forEach(function(customer)
															{ %>

															<option
																value="<%= customer.id_cliente%>"
															>
																<%=
																customer.nombre_apellido
																%>
															</option>

															<%
															});
															%>
														</select>
													</div>
													<div
														class="col-sm-6"
													>
														<label
															>Tipo</label
														>
														<select
															class="form-control select2"
															style="
																width: 100%;
															"
														>
															<option>
																Casa
															</option>
															<option>
																Local
															</option>
															<option>
																Casa
																con
																local
															</option>
															<option>
																Departamento
															</option>
															<option>
																Chalet
															</option>
															<option>
																Cabaña
															</option>
															<option>
																Cochera
															</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label
													>Descripción
													breve</label
												>
												<textarea
													class="form-control"
													rows="2"
													placeholder="Ingrese ..."
												></textarea>
											</div>
											<label
												>Descripción
												detallada</label
											>
											<textarea
												class="form-control"
												rows="10"
												placeholder="Ingrese ..."
											></textarea>
										</div>
										<!-- /.card-body -->
									</div>

									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title">
												Servicios
											</h3>
										</div>
										<!-- /.card-header -->
										<!-- form start -->

										<div class="card-body">
											<div class="row">
												<div
													class="col-sm-4"
												>
													<div
														class="custom-control custom-checkbox"
													>
														<input
															class="custom-control-input"
															type="checkbox"
															id="luzCheckbox"
															value="option1"
														/>
														<label
															for="luzCheckbox"
															class="custom-control-label"
															>Luz</label
														>
													</div>
												</div>
												<div
													class="col-sm-4"
												>
													<div
														class="custom-control custom-checkbox"
													>
														<input
															class="custom-control-input"
															type="checkbox"
															id="aguaCheckbox"
															value="option1"
														/>
														<label
															for="aguaCheckbox"
															class="custom-control-label"
															>Agua</label
														>
													</div>
												</div>
												<div
													class="col-sm-4"
												>
													<div
														class="custom-control custom-checkbox"
													>
														<input
															class="custom-control-input"
															type="checkbox"
															id="gasCheckbox"
															value="option1"
														/>
														<label
															for="gasCheckbox"
															class="custom-control-label"
															>Gas</label
														>
													</div>
												</div>
											</div>
											<div class="row">
												<div
													class="col-sm-4"
												>
													<div
														class="custom-control custom-checkbox"
													>
														<input
															class="custom-control-input"
															type="checkbox"
															id="internetCheckbox"
															value="option1"
														/>
														<label
															for="internetCheckbox"
															class="custom-control-label"
															>Internet</label
														>
													</div>
												</div>
												<div
													class="col-sm-4"
												>
													<div
														class="custom-control custom-checkbox"
													>
														<input
															class="custom-control-input"
															type="checkbox"
															id="televisionCheckbox"
															value="option1"
														/>
														<label
															for="televisionCheckbox"
															class="custom-control-label"
															>Televisión</label
														>
													</div>
												</div>
											</div>
										</div>
										<!-- /.card-body -->
									</div>

									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title">
												Contrato
											</h3>
										</div>
										<!-- /.card-header -->
										<!-- form start -->

										<div class="card-body">
											<div class="row">
												<div
													class="col-sm-7"
												>
													<label
														>Tipo</label
													>
													<div
														class="row"
													>
														<div
															class="col-sm-6"
														>
															<div
																class="custom-control custom-radio"
															>
																<input
																	class="custom-control-input"
																	type="radio"
																	id="ventaRadio"
																	name="tipoDeContratoRadio"
																	checked
																/>
																<label
																	for="ventaRadio"
																	class="custom-control-label"
																	>Venta</label
																>
															</div>
														</div>
														<div
															class="col-sm-6"
														>
															<div
																class="custom-control custom-radio"
															>
																<input
																	class="custom-control-input"
																	type="radio"
																	id="alquilerRadio"
																	name="tipoDeContratoRadio"
																/>
																<label
																	for="alquilerRadio"
																	class="custom-control-label"
																	>Alquiler</label
																>
															</div>
														</div>
													</div>
												</div>
												<div
													class="col-sm-5"
												>
													<label
														>Precio</label
													>
													<div
														class="input-group"
													>
														<div
															class="input-group-prepend"
														>
															<span
																class="input-group-text"
																>$</span
															>
														</div>
														<input
															type="number"
															step="any"
															class="form-control"
														/>
													</div>
												</div>
											</div>
										</div>
										<!-- /.card-body -->
									</div>
									<button
										type="submit"
										class="btn btn-block btn-primary btn-lg"
									>
										Enviar formulario
									</button>
								</form>
							</div>
							<!--/.col (left) -->
							<!-- right column -->
							<div class="col-md-6">
								<!-- Form Element sizes -->
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title">
											Ubicación
										</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->

									<div class="card-body">
										<div class="form-group">
											<label>Provincia</label>
											<select
												class="form-control select2"
												style="width: 100%"
												name="id_provincia"
											>
												<%
												provinces.forEach(function(province)
												{ %>
												<p>
													<%=
													province.nombre
													%>
												</p>
												<% }); %>
											</select>
										</div>
										<div class="form-group">
											<label>Ciudad</label>
											<select
												class="form-control select2"
												style="width: 100%"
												name="id_localidad"
											>
												<%
												cities.forEach(function(city)
												{ %>
												<option
													value="<%= city.id_localidad%>"
												>
													<%= city.nombre
													%>
												</option>
												<% }); %>
											</select>
										</div>
										<div class="row">
											<div class="col-sm-8">
												<label
													for="calleInput"
													>Calle</label
												>
												<input
													class="form-control"
													id="calleInput"
													placeholder="Ingrese ..."
												/>
											</div>
											<div class="col-sm-4">
												<label
													for="alturaInput"
													>Altura</label
												>
												<input
													type="number"
													class="form-control"
													id="alturaInput"
													placeholder="Ingrese ..."
												/>
											</div>
										</div>
									</div>
									<!-- /.card-body -->
								</div>

								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title">
											Ambientes
										</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->

									<div
										class="card-body"
										id="cardAmbientes"
									>
										<div class="form-group">
											<div class="form-group">
												<label
													>Agregar
													ambiente</label
												>
												<select
													class="select2 agregarAmbiente"
													style="
														width: 100%;
													"
												>
													<option>
														_
													</option>
													<option
														value="0"
													>
														Dormitorio
													</option>
													<option
														value="1"
													>
														Cochera
													</option>
													<option
														value="2"
													>
														Cocina
													</option>
													<option
														value="3"
													>
														Comedor
													</option>
													<option
														value="4"
													>
														Baño
													</option>
													<option
														value="5"
													>
														Estar
													</option>
													<option
														value="6"
													>
														Ante baño
													</option>
													<option
														value="7"
													>
														Patio
													</option>
													<option
														value="8"
													>
														Quincho
													</option>
													<option
														value="9"
													>
														Patio
													</option>
												</select>
											</div>
										</div>
									</div>
									<!-- /.card-body -->
								</div>
							</div>
							<!--/.col (right) -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
				<strong>Copyright © 2020-2022.</strong>
				Todos los derechos reservados.
				<div class="float-right d-none d-sm-inline-block">
					<b>Version</b> 1.0
				</div>
			</footer>

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<!-- jQuery -->
		<script src="plugins/jquery/jquery.min.js"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$.widget.bridge('uibutton', $.ui.button);
		</script>
		<!-- Bootstrap 4 -->
		<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Select2 -->
		<script src="plugins/select2/js/select2.full.min.js"></script>
		<!-- ChartJS -->
		<script src="plugins/chart.js/Chart.min.js"></script>
		<!-- Sparkline -->
		<script src="plugins/sparklines/sparkline.js"></script>
		<!-- JQVMap -->
		<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
		<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
		<!-- jQuery Knob Chart -->
		<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
		<!-- daterangepicker -->
		<script src="plugins/moment/moment.min.js"></script>
		<script src="plugins/daterangepicker/daterangepicker.js"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
		<!-- Summernote -->
		<script src="plugins/summernote/summernote-bs4.min.js"></script>
		<!-- overlayScrollbars -->
		<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
		<!-- AdminLTE App -->
		<script src="dist/js/adminlte.js"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="dist/js/demo.js"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script src="dist/js/pages/dashboard.js"></script>
		<!-- Page specific script -->
		<script>
			$(function () {
				//Initialize Select2 Elements
				$('.select2').select2();
			});

			const $cardAmbientes = $('#cardAmbientes');
			const elementSelect2 = 'agregarAmbiente';

			const handler = (e) => {
				const { data } = e.params;

				const select2 = $(
					`[data-select2-id='${e.target.getAttribute(
						'data-select2-id'
					)}']`
				);

				select2
					.parent()
					.parent()
					.children(':nth-child(2)')
					.remove();

				if (data.text === '_') {
					console.log(e.target);
				} else {
					select2.parent().parent().append(`
              <div class="form-group">
                <label for="${data.id}SuperficieInput">Superficie</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="${data.id}SuperficieInput"
                  placeholder="Ingrese ..."
                />
              </div>
            `);

					$cardAmbientes.append(`
            <div class="form-group">
              <div class="form-group">
                <label>Agregar ambiente</label>
                <select
                  class="select2 ${elementSelect2}"
                  style="width: 100%"
                >
                  <option>_</option>
                  <option>Dormitorio</option>
                  <option>Cochera</option>
                  <option>Cocina</option>
                  <option>Comedor</option>
                  <option>Baño</option>
                  <option>Estar</option>
                  <option>Ante baño</option>
                  <option>Patio</option>
                  <option>Quincho</option>
                  <option>Patio</option>
                </select>
              </div>
            </div>
          `);

					$(`.${elementSelect2}`).select2();
					$(`.${elementSelect2}`).on('select2:select', handler);
				}
			};

			$(`.${elementSelect2}`).on('select2:select', handler);
		</script>
	</body>
</html>
