<div class="col-md-4 mt-4" style="width: 100%">
	<div class="card">
		<img
			src="../dist/img/images/estate_02.jpg"
			class="card-img-top"
			alt="..."
		/>
		<div class="card-body">
			<h5 class="card-title">
				Propiedad <%=realestate.codigo_propiedad %>
			</h5>
			<p class="card-text"><%= realestate.descripcion_breve %></p>

			<%- include('btn-available',{
			codigo_propiedad:realestate.codigo_propiedad,
			disponibilidad:realestate.disponibilidad }) %>
		</div>
		<!--Boton-->

		<!--Boton-->
		<!--EXPANDABLE-->
		<div class="col-md-12">
			<div class="card card-primary collapsed-card">
				<div class="card-header">
					<h3 class="card-title">Más Información</h3>
					<div class="card-tools">
						<button
							type="button"
							class="btn btn-tool"
							data-card-widget="collapse"
						>
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<label
						>Código: <%= realestate.codigo_propiedad %> </label
					><br />
					<label>Tipo:<%= realestate.tipo %> </label><br />
					<label
						>Precio: $<%= realestate.precio_inmueble %></label
					><br />
					<!--Provincia, ciudad-->
					<label>Ubicación: <%= realestate.ubicacion %></label
					><br />
					<!--Calle,altura, piso, departamento -->
					<label>Dirección:<%= realestate.direccion %></label
					><br />
					<!--Parte DINÁMICA de Ambientes: dormitorio, baño, suites-->

					<br />
					<!--FIN de Parte DINÁMICA de Ambientes: dormitorio, baño, suites-->
					<label
						>Fecha de Construcción:<%=
						realestate.fecha_construccion %> </label
					><br />
					<label
						>Superficie Total: <%= realestate.superficie_total
						%>m²</label
					><br />
					<label
						>Superficie Cubierta:<%=
						realestate.superficie_cubierta %> m²</label
					><br />
					<!--SERVICIOS ADHERIDOS AQUI-->

					<label
						>Cantidad Artefactos:<%=
						realestate.cant_artefactos %> </label
					><br />
					<label
						>Descripción Detallada:
						<p>
							<small class="text-muted"
								><%= realestate.descripcion_detallada %>
							</small>
						</p>
					</label>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
			<!-- CARD FOOTER -->
			<div class="card-footer">
				<small class="text-muted"
					>Fecha Publicación: <%= realestate.fecha_publicacion
					%></small
				>
			</div>
			<!-- CARD FOOTER -->
		</div>
		<!--EXPANDABLE-->
	</div>
</div>
