<div class="col-12">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Actividad 1</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
            </button>
        </div>
        </div>
        
        <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
            <th>Fecha y Hora</th>
            <th>AGENTE</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Teléfono</th>
            
            </tr>
            </thead>
            <tbody>
            <tr>
            <!--FECHA DE LA ACTIVIDAD O CITA-->
            <td>
                <!--LABEL DE FECHA TIPO TEXTO-->
                <!-- <label name="fecha_hs" type="text">30/11/2022</label> -->
                <!--LABEL DE FECHA TIPO TEXTO-->
                <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input id="input-fecha" type="date" class="form-control" data-inputmask-alias="datetime"  disabled value="<%=moment(appointment.fecha_hs).format('yyyy-MM-DD')%>">
                </div>
                <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!--MÁSCARA DE FECHA FORMATO: Date dd/mm/yyyy-->
                <!-- FORMATO CALENDARIO Date and time -->
                <!-- <div class="form-group">
                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                        <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div> -->
                <!-- /.form group -->
                <!-- FORMATO CALENDARIO Date and time -->
            </td>
            <!--AGENTE-->
            <td>
                <!-- <label name="nombre_apellido">Luciano</label> -->
                <!-- /.form-group -->
                <div class="form-group">
                <select id="input-agente" class="form-control select2" style="width: 100%;" disabled>
                    <option selected="selected"><%= appointment.agente %></option>
                    
                </select>
                </div>
                <!-- /.form-group -->
            </td>
            <td>
                <!-- text input CODIGO PROPIEDAD-->
                <div class="form-group">
                <!-- <input type="text" class="form-control" placeholder="Enter ..."> -->
                <select id="input-motivo" class="form-control select2" style="width: 100%;" disabled>
                    <option selected="selected"><%= appointment.motivo %></option>
                    <option disabled="disabled">MOTIVO</option>
                </select>
                </div>
            </td>
            <!--ESTADO DE LA ACTIVIDAD / CITA-->
            <td>
                <div class="form-group">
                <select id="input-estado" class="form-control select2" style="width: 100%;" disabled>
                    <option selected="selected"><%= appointment.estado %></option>
                    <option disabled="disabled">Finalizado(disabled)</option>
                </select>
            </td>
            <td>
                <select id="input-cliente" class="form-control select2" style="width: 100%;" disabled>
                    <option selected="selected"><%= appointment.razon_social ? appointment.razon_social : appointment.nombre_apellido_cliente %></option>
                    <option disabled="disabled">Ramiro Castillo(disabled)</option>
                </select>
            </td>
            <td>
                <label name="telefono" type="text"><%= appointment.telefono%></label>
            </td>
            
            </tr>
            </tbody>
        </table>
        <!--BOTON EDITAR DATOS DE LA CITA-->
        <a id="btn-success" type="button" name="editar" onclick="activateBtn()" style="width: 150px; margin-top: 5px;" 
        class="btn btn btn-warning">EDITAR</a>
        <!--BOTON ELIMINAR CITA-->
        <button id="btn-delete" type="button" name="eliminar" style="width: 150px; margin-top: 5px;" 
        class="btn btn btn-danger">ELIMINAR</button>
        <!--CONTROL MODAL DE ELIMINAR (POR SI HACE FALTA)-->
        <!-- <button type="button" name="eliminar" class="btn btn-danger" style="width: 150px; margin-top: 5px;" data-toggle="modal" data-target="#modal-danger">
            ELIMINAR
        </button> -->
        <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <!-- /.card-body -->
    </div>
</div>  